boto3
botocore
langchain-aws==0.1.18
ipywidgets
chromadb
typing-extensions
langchain-community==0.2.17
langchain-core==0.2.40
langchain_huggingface==0.0.3
langchain==0.2.16
langgraph==0.2.22
sec_api
opensearch-py
retrying
